$bg_blue: #030335;

*{
   background-image: url(img/image_123650291\ \(1\).JPG); 
}


section{
    display: flex;
    img{
        width: 400px;
        height: auto;
        margin: 140px auto;
        margin-left: -30px;
    }
    #img_form{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    form{
        margin-left: -150px;
        input{
            background-color: white;
            border: 1px solid black;
            padding: 4px;
            opacity: 70%;
        }
        #submit_btn{
            width: 172px;
            background-color: white;
            opacity: 70%;
            color: $bg_blue;
        }
    }


    @media (width >= 40em){
        img{
            width: 1000px;
            height: auto;
            margin: 0px auto;
            margin-left: -30px;
        }
        #img_form{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        form{
            margin-left: -150px;
            input{
                background-color: white;
                border: 1px solid black;
                padding: 4px;
                opacity: 70%;
            }
            #submit_btn{
                width: 172px;
                background-color: white;
                opacity: 70%;
                color: white;
            }
        }
    }

}
